doctype html
html
  head
    title AA
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/stylesheet" href="style.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript")

    script(src="background.js" type="text/javascript")
    script(src="./jquerry.jrumble.1.3.js" type="text/javascript")

    script(src='./jrumble.1.3.js' type='text/javascript')
    script(type='text/javascript').
      $(function() {
        $('.abcd').jrumble({
        x: 1, //ブルブルX
        y: 1, //ブルブルY
        rotation: 1, //ブルブル角度
    
        });
      $('.abcd').hover(function(){
        $(this).trigger('startRumble');
        }, function(){
        $(this).trigger('stopRumble');
       });
      });

  body

center

    p(class='abcd') えいっ

    p(class='abcd') えいっ(`・ω・´)つ





