body {
  background-color: #ffc0cb;
  color: #00f;
}
canvas {
  background: #ff0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
element.style {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  color: #fff;
  position: static;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 1px;
  top: -1px;
  background: #f36;
}
