p {
  font-weight: bold;
  font-size: 150px;
  color: #f00;
  font-weight: bold;
}
canvas {
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
